body {
  background: url("../images/The Anthropomorphic Cabinet.jpg") top / cover no-repeat fixed;
  color: white;
  margin: 0px;
  font: 100% verdana, sans-serif;
}

header {
  background-color: #98644e;
  color: white;
  padding: 10px;
  margin: 0px;

  position: fixed;
  top: 0px;
  width: 100%;
}

h1 {
  font-family: 'Adelle W01 Bold', 'Arvo', Constantia, 'Lucida Bright';
}

section {
  margin-top: 120px;
}

figure {
  border: 5px double #62433f;
  background-color: #98644e;
  padding: 5px;
  display: table;
}

footer {
  background-color: #62433f;
  padding: 10px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

.navbar-primary ul {
  background-color: #62433f;
  margin: 0px;

  position: absolute;
  top: 80px;
  left: 0px;
  width: 100%;
}

.navbar-primary ul li {
  display: inline-block;
  padding: 5px 10px;
}

.navbar-primary a {
  text-decoration: none;
  color: white;
}

.banner {
  width: 20%;
  height: 10%;
}

.quote {
  width: 35%;
}

.center-in-container {
  margin: auto;
}