body {
  /* background: url("../images/The Anthropomorphic Cabinet.jpg"); */
  /* background: url("../images/The Anthropomorphic Cabinet.jpg") no-repeat; */
  /* background: url("../images/The Anthropomorphic Cabinet.jpg")  top / cover no-repeat; */
  background: url("../images/The Anthropomorphic Cabinet.jpg")  top / cover no-repeat fixed;
  color: white;
}

h1 {
  background-color: lightgrey;
  color: blue;
}

footer {
  background-color: chocolate;
}

/* Below here are just tags I added for fun */
h1:first-letter {
  color:lightcoral;
  font-size: 50px;
}

li {
  color: white;
}
