body {
    background-color: peachpuff;
    background-image:    url("../images/CSS3_and_HTML5_logos.png");
    background-repeat:   no-repeat;
    background-position: top right;
    background-size:     160px 100px;
    /* background: peachpuff url("../images/CSS3_and_HTML5_logos.png") no-repeat top right 160px 100px; */
}

h1      { color: darkolivegreen; }

th      { background-color: lightcoral; }
th, td  { border: 2px dashed black; }

table { 
    border-collapse: collapse; 
    box-shadow: gray 10px 10px 5px; 
}

tr:nth-child(even) { background-color: lavenderblush; }
tr:nth-child(odd)  { background-color: cornflowerblue; }
